<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <header>
        <nav>
            <a href="/userlist">User List</a>
            <a href="./addusers">Add Users</a>
        </nav>
    </header>
    <h1>Add User Page</h1>
    <form action='/admin/register' method='POST'>
        <input name='userName' />
        <button type='submit'>Submit</button>
    </form>
</body>

</html>